{% extends "base.html" %}

{% block control %}
    <li><a href="/" target="_blank">Sing Up</a></li>
{% endblock control %}
{% block title %} {{ title }} {% endblock title%}

{% block content%}
<div class="row" style="padding-top: 50px">

    <legend class="text-center">Welcome Back</legend>
    <div class="col-lg-5"></div>
    <div class="col-lg-2">
        <form class="form-horizontal" action="/login" method="post">{% csrf_token %}
            <fieldset>
                <div class="form-group">
                    <div >
                        <input class="form-control" id="user_id" placeholder="User Name" type="text" name="user_id">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input class="form-control" id="inputPassword" placeholder="PassWord" type="password" name="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="center-block">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
    <div class="col-lg-5"></div>
</div>
{% endblock content %}

